/* font-family: "Montserrat", sans-serif;
font-family: "Mr Dafoe", cursive;
font-family: "Quicksand", sans-serif;
 */
input:focus {
    outline: none;
}
#message:focus{
    outline: none; 
}

.Moi{
    margin-left: 0;
    padding-left: 0;
    text-decoration: none;
    font-family: "Mr Dafoe", cursive;
    font-size: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 15px;
    color: #ffffff;

}


.header{
    display: flex;
    justify-content:center;
    align-items: center; /* Aligne verticalement */
    border:none;
    background-color: #111111;
    border-bottom:  2px solid  #333; /* Définir l'épaisseur, le style et la couleur du rebord */
    border-radius: 5px; /* Arrondir les coins si nécessaire */
    margin: 0%;
    padding: 0%;
}
.footer { 
    display:flex;
    justify-content:center;
    align-items: center;
    padding-top: 5px;
    background-color: #111111;
    border:none;
    border-top: 2px solid #333; /* Définir l'épaisseur, le style et la couleur du rebord */
    border-radius: 5px; /* Arrondir les coins si nécessaire */
    bottom: 0%;
    height: 6%;
    width:100%;
}


nav ul {
    list-style-type:none;
    padding:0;
    margin: 0;
    width:100%;
    
}

nav ul li {
    position: relative;
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

nav ul li:hover > a {
    background-color:  #000000;
    border-radius: 5px ;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000000;
}

.submenu li {
    display: block;
}

nav ul li:hover .submenu {
    display: block;
}

.submenu li a {
    padding: 10px;
    color: white;
}

.submenu li a:hover {
    text-decoration:underline;
}


*{
    font-family: "Quicksand", sans-serif;
    font-weight: 100;
    font-size: 0.98em;
    text-decoration: none;
}
#liens {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    color: #004750;
    text-decoration: none;
    
}

h1{
    font-family: "Mr Dafoe", cursive;
    font-weight: 100;
    font-size: 2em;
    padding-left: 5px;
}


body {
    display: flex;
    flex-direction: column; /* Empile les éléments verticalement */
    min-height: 100vh; /* Force le body à occuper toute la hauteur de la page */
    margin: 0; /* Supprime les marges par défaut */
    background: #000000;
    min-height: 100%; /* Permet au body de prendre 100% de la hauteur de la fenêtre */

}

.containerIndex {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 2fr 1fr; 
    margin:4% 12%;
    margin-bottom: 0%;
}
.boxIMG{
    min-height:375px;
    background-image: url('image/sentinel.jpeg');
    background-repeat: no-repeat;
    background-size:100%;
    
}
.texteIndex {
    /* min-height:375px; */
    /* padding-right: 1em;
    padding-left: 1em; */
    text-align: justify;
    background: rgb(0, 0, 0);
    color: #ffffff;
    
}

.containerIndex2{
     display: grid;
    align-items: center; 
    grid-template-columns: 1fr 2fr 1fr; 
    margin:0% 12%;
    margin-bottom: 7%;
    max-width: 1200px;
    min-height: 375px; 
}
.asideIndex2{
    min-height:375px;
    background-image:url('image/photo1.jpg');
    background-repeat: no-repeat;
    background-size:100%;
     
}
.texteIndex2{
    text-align: justify;
    background: rgb(0, 0, 0);
    color: #ffffff;
}

.containerContact {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr; /* Deux colonnes égales */
    gap: 0em; /* Espacement entre les colonnes */
    margin: 7% 12%;
    background-size: 100%;
    max-width: 1200px;
    min-height: 375px;
    
}
.asideForm{
    height:375px;
    margin: 0%;
    padding: auto;
    background-color: #ffffff;   
}

.texteForm{
    min-height:375px;
    background-image: url('image/Contact.jpg');
    background-repeat: no-repeat;
    background-size: 120%;
}

.aside{
    min-height:375px;
    margin: 0%;
    padding: auto;
    background-color: #ffffff;  
}

.containerProjet {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr; /* Deux colonnes égales */
    gap: 0em; /* Espacement entre les colonnes */
    margin: 7% 12%;
    max-width: 1200px;
    min-height: 375px;
    
}
.texteProjet {
    min-height: 375px;
    padding-right: 1em;
    padding-left: 1em;
    text-align: justify;
    background: rgb(0, 0, 0);
    color: #ffffff;
    
}
.asideProjet{
    min-height: 375px;
    background-image: url('image/projet.jpg');
    background-repeat: no-repeat;
    background-size:100%;

}

.containerProjetJS {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr; /* Deux colonnes égales */
    gap: 0em; /* Espacement entre les colonnes */
    margin: 7% 12%;
    max-width: 1200px;
    min-height: 375px;
    
}
.asideProjetJS{
    min-height: 400px;
    background-image: url('image/islande.jpg');
    background-repeat: no-repeat;
    background-size:110%;

}
.texteProjetJS {
    padding-right: 1em;
    padding-left: 1em;
    text-align: justify;
    background: rgb(0, 0, 0);
    color: #ffffff;  
}

.containerProjetPy {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr; /* Deux colonnes égales */
    gap: 0em; /* Espacement entre les colonnes */
    margin: 7% 12%;
    background: #ffffff;
    max-width: 1200px;
    min-height: 375px;
    
}
.textePy {
     min-height:375px;
    padding-right: 1em;
    padding-left: 1em;
    text-align: justify;
    background: rgb(0, 0, 0);
    color: #ffffff;  
}
.asidePy{
    min-height:375px;
    margin: 0%;
    padding: auto;
    background-color: #000000;  
}

a:hover{
    box-shadow: none;
    
}





/* //////////////style pour page contact///////////////////////// */

.form{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

#contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin-left: 15px;
}
#name{
    width:18%;
    border: none;
    
}
#email{
    width: 35%;
    border: none;
    
}
#message {
    width: 90%;
    height: 90px;
    border:none;
    border-radius: 3px;
}

#envoyer {
    font-family: "Mr Dafoe", cursive;
    font-weight: 100;
    font-size: 2em;
    color: rgb(0, 0, 0);
    border:none;
    border-radius: 3px;
    cursor: pointer;
    left: 50;
    right: 50;
    background-color: #ffffff;
}

#envoyer:hover {
    text-decoration: underline;
    
}

.success-message {
    display: none;
    color:rgb(54, 102, 83)
    margin-top: 10px;
}
.error-message {
    display: none;
    color: rgb(128, 58, 0);
    margin-top: 10px;
}

