/* font-family: "Montserrat", sans-serif;
font-family: "Mr Dafoe", cursive;
font-family: "Quicksand", sans-serif;
 */




input:focus {
    outline: none;
}
#message:focus{
    outline: none; 
}
.lien-icone:hover{
    position: relative;
    bottom:2px;
}

.Moi{
    text-decoration: none;
    font-family: "Mr Dafoe", cursive;
    font-size: 180%;
    padding-left: 15px;
    color: #ffffff;

}
.Moi:hover{
    position: relative;
    top:2px;
    text-shadow: 5px 5px 10px #000000;
    filter: brightness(1.2);

}


.header{
    display: flex;
    justify-content:center;
    align-items: center; /* Aligne verticalement */
    border:none;
    background-color: #111111;
    border-bottom:  2px solid  #333; 
    border-radius: 5px; 
    margin: 0%;
    padding: 0%;
    width:100%;
}
.footer { 
    display:flex;
    justify-content:center;
    align-items: center;
    padding-top: 1%;
    background-color: #111111;
    border:none;
    border-top: 2px solid #333; 
    border-radius: 5px; 
    bottom: 0%;
    height: 5%;
    width:100%;
}


nav ul {
    list-style-type:none;
    padding:0;
    margin: 0;
    width:100%;
    
}

nav ul li {
    position: relative;
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

nav ul li:hover > a {
    position: relative;
    top: 2px ;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px;
}

.submenu {
    display: none;
    position: absolute;
    left:10px;
    top: 35px ;
    width: 153px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

}

.submenu li {
    display: block;
}

nav ul li:hover .submenu {
    display: block;
    display:flex;
}

.submenu li a {
    padding: 10px;
    color: #004750;
    font-weight:500;
}

.submenu li a:hover {
    position: relative;
    left: 5%;
}


*{
    font-family: "Quicksand", sans-serif;
    font-weight: 100;
    font-size: 0.98em;
    text-decoration: none;
}
#liens {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    color: #004750;
    text-decoration: none;
    
}

h1{
    font-family: "Mr Dafoe", cursive;
    font-weight: 100;
    font-size: 2em;
    padding-left: 5px;
}


body, html {
    display: flex;
    flex-direction: column; 
    min-width:fit-content;
    min-height:100vh;
    margin: 0; 
    background: #000000;
   
}

#photodenico:hover {
filter: brightness(1.2);
}

#photodenico {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid #ffffff2d;
    width: 10em; 
    height: 10em; 
    size-adjust: auto;
    border-radius: 50%; /* Cercle parfait */
    object-fit: cover; /* Ajuste l'image pour qu'elle remplisse le cercle */
}


.containerIndex {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 35%;
    min-width: 30em;
    margin: 4% auto; 
}

.texteIndex {
    text-align: justify;
    background: rgb(0, 0, 0);
    color: #ffffff;
    
}

.asideIndex2 {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; 
   
}

.asideIndex2 img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
    border-radius: 5px;
}
.boxIMG{
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; 
    border-radius: 5px;
    
}
.boxIMG img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
    border-radius: 5px;
}
.texteIndex2{
    text-align: justify;
    background: rgb(0, 0, 0);
    color: #ffffff;
}

.containerContact {
    display:flex;
    flex-flow:wrap;
    justify-content: center;
    align-items: center; 
    margin: 7% auto;
    
}
.asideForm{
    display:flex;
    flex-flow:column;
    align-items: center; 
    width: 35%;
    min-width: 30em;
    height: 25.7em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ffffff; 
      
}

.photoForm img{
    min-height:100%;
    min-width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.photoForm {
    height: 25.7em;
    width: 35%;
    min-width: 30em;
    display: flex;
}
/* .aside{
    min-height: 25em;
    margin: 0%;
    padding: auto;
    background-color: #ffffff;  
} */

.containerProjet {
    display:flex;
    flex-flow:wrap;
    justify-content: center;
    align-items: center; 
    margin: 7% auto;
    min-height: 25em;
    
}
.texteProjet {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 25.7em;
    width: 35%;
    min-width: 30em;
    padding-right: 1em;
    padding-left: 1em;
    text-align:justify;
    background: rgb(0, 0, 0);
    color: #ffffff;
    
}
.asideProjet{
    height: 25.7em;
    width: 35%;
    min-width: 30em;
    display: flex;
}
.asideProjet img{
    min-height:100%;
    min-width: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.containerProjetJS {
    display:flex;
    flex-flow:wrap;
    justify-content: center;
    align-items: center; 
    margin: 7% auto;
    min-height: 25em;
    
}
.asideProjetJS{
    height: 25.7em;
    width: 35%;
    min-width: 30em;
    display: flex;
    margin-bottom: 7%;

}
.asideProjetJS img{
    min-height:100%;
    min-width: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
.texteProjetJS {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 25.7em;
    width: 35%;
    min-width: 30em;
    padding-right: 1em;
    padding-left: 1em;
    text-align:justify;
    background: rgb(0, 0, 0);
    color: #ffffff;
    margin-bottom: 7%;
}
.asideProjetJS2{
    height: 25.7em;
    width: 35%;
    min-width: 30em;
    display: flex;
}
.asideProjetJS2 img{
    min-height:100%;
    min-width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.texteProjetJS2 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 25.7em;
    width: 35%;
    min-width: 30em;
    padding-right: 1em;
    padding-left: 1em;
    text-align:justify;
    background: rgb(0, 0, 0);
    color: #ffffff;
}
.containerProjetPy {
    display:flex;
    flex-flow:wrap;
    justify-content: center;
    align-items: center; 
    margin: 7% auto;
    min-height: 25em;
    
}
.textePy {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 25.7em;
    width: 35%;
    min-width: 30em;
    padding-right: 1em;
    padding-left: 1em;
    text-align:justify;
    background: rgb(0, 0, 0);
    color: #ffffff;
}
.asidePy{
    height: 25.7em;
    width: 35%;
    min-width: 30em;
    display: flex;
    background-color: #000000;  
}

.asidePy video{
    min-height:100%;
    min-width: 100%;

}

a:hover{
    box-shadow: none;
    
}





/* //////////////style pour page contact///////////////////////// */


#contactForm {
    display: flex;
    flex-flow:column;
    justify-content: space-between;
    gap:2em;
    width: 90%;
    
}
#name, #email{
    min-width:10em;
    border: none;
    
}
#message {
    min-width: 25em;
    text-align: center;
    border: none;
}
#name, #email, #message{
    position:relative;
    bottom:40%;

}

.form{
    position:relative;
    bottom:30%;
}
#envoyer {
    position: relative;
    left:40%;
    transform: rotate(6deg);
}

#envoyer:hover {
    filter: brightness(1.2);
    
    
}

.success-message {
    position: relative;
    bottom:10%;
    display: none;
    color:rgb(15, 66, 90);
    font-size: x-large;
}
.error-message {
    position: relative;
    bottom:10%;
    display: none;
    color: rgb(128, 26, 0);
    font-size: x-large;
}

